<script src="https://js.stripe.com/v3/"></script>
<div class="neumorphism-container">
  <h1>Formulaire</h1>
  <div class="form_container">
    <form (ngSubmit)="sendForm()" [formGroup]="formGroup">
      <div>
        <mat-form-field appearance="fill" class="neumorphism-input">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="neumorphism-input">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom" formControlName="firstname">
        </mat-form-field>

        <mat-form-field appearance="fill" class="neumorphism-input">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Age" formControlName="age">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="neumorphism-input">
          <mat-label>Véhicule</mat-label>
          <mat-select formControlName="carToRent">
            <mat-option *ngFor="let car of carList | keyvalue" [value]="car.key">{{car.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="neumorphism-input" name="carToRent">
          <mat-label>Villes</mat-label>
          <mat-select formControlName="locationCity">
            <mat-option *ngFor="let city of cityList | keyvalue" [value]="city.key">{{city.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="neumorphism-input" name="token">
          <mat-label>Token</mat-label>
          <input matInput placeholder="Token" formControlName="token">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Payer</button>
    </form>
  </div>
  <div class="all-wrap">
    <div class="all">
      <div class="yarn"></div>
      <div class="cat-wrap">
        <div class="cat">
          <div class="cat-upper">
            <div class="cat-leg"></div>
            <div class="cat-leg"></div>
            <div class="cat-head">
              <div class="cat-ears">
                <div class="cat-ear"></div>
                <div class="cat-ear"></div>
              </div>
              <div class="cat-face">
                <div class="cat-eyes"></div>
                <div class="cat-mouth"></div>
                <div class="cat-whiskers"></div>
              </div>
            </div>
          </div>
          <div class="cat-lower-wrap">
            <div class="cat-lower">
              <div class="cat-leg">
                <div class="cat-leg">
                  <div class="cat-leg">
                    <div class="cat-leg">
                      <div class="cat-leg">
                        <div class="cat-leg">
                          <div class="cat-leg">
                            <div class="cat-leg">
                              <div class="cat-leg">
                                <div class="cat-leg">
                                  <div class="cat-leg">
                                    <div class="cat-leg">
                                      <div class="cat-leg">
                                        <div class="cat-leg">
                                          <div class="cat-leg">
                                            <div class="cat-leg">
                                              <div class="cat-paw"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cat-leg">
                <div class="cat-leg">
                  <div class="cat-leg">
                    <div class="cat-leg">
                      <div class="cat-leg">
                        <div class="cat-leg">
                          <div class="cat-leg">
                            <div class="cat-leg">
                              <div class="cat-leg">
                                <div class="cat-leg">
                                  <div class="cat-leg">
                                    <div class="cat-leg">
                                      <div class="cat-leg">
                                        <div class="cat-leg">
                                          <div class="cat-leg">
                                            <div class="cat-leg">
                                              <div class="cat-paw"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cat-tail">
                <div class="cat-tail">
                  <div class="cat-tail">
                    <div class="cat-tail">
                      <div class="cat-tail">
                        <div class="cat-tail">
                          <div class="cat-tail">
                            <div class="cat-tail">
                              <div class="cat-tail">
                                <div class="cat-tail">
                                  <div class="cat-tail">
                                    <div class="cat-tail">
                                      <div class="cat-tail">
                                        <div class="cat-tail">
                                          <div class="cat-tail">
                                            <div class="cat-tail -end"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
